[submodule "curriculum-lpib"]
	path = curriculum-lpib
	url = https://github.com/slonl/curriculum-lpib.git
[submodule "curriculum-basis"]
	path = curriculum-basis
	url = https://github.com/slonl/curriculum-basis.git
