[submodule "curriculum-inhouden"]
	path = curriculum-inhouden
	url = https://github.com/slonl/curriculum-inhouden.git
[submodule "curriculum-doelen"]
	path = curriculum-doelen
	url = https://github.com/slonl/curriculum-doelen.git
